<div ng-controller="MatchesPSMCtrl">
  <div>
    {{psm.fishTones.richSeq.toString()}}
    <small>(mascot score={{psm.matchInfo.score.mainScore}})</small>
  </div>
  <div ng-if="psm4spectrum">
    <strong>Other peptides for spectrum</strong>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>peptide</th>
        <th>score</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="opsm in psm4spectrum">
        <td>{{opsm.matchInfo.rank}}</td>
        <td>{{opsm.fishTones.richSeq.toString()}}</td>
        <td>{{opsm.matchInfo.score.mainScore}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="!psm4spectrum">
    <strong>no other mathes for spectrum</strong>
  </div>

  <div>
    <button class="btn btn-default" ng-click="getSimSpectra(psm.spectrumId)">similar spectra ?</button>
  </div>
</div>
