<p class="text-center" data-toggle="tooltip" data-placement="top" title="Score" onmouseenter="$(this).tooltip()">{{protIdent.mainProt.score.mainScore.toFixed(2)}}</p>
<p class="text-center" data-toggle="tooltip" data-placement="top" title="# PSMs" onmouseenter="$(this).tooltip()">{{protIdent.mainProt.nrPsms}}</p>
<p class="text-center" data-toggle="tooltip" data-placement="top" title="# Sequences" onmouseenter="$(this).tooltip()">{{protIdent.mainProt.nrSequences}}</p>
<!-- change style="background-color=XXX" -->



