<h1>Compare searches</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th></th>
    <th class="text-center" ng-repeat="searchId in searchIds">{{searchId}}</th>
  </tr>
  <tr>
    <th>AC</th>
    <th class="text-center" ng-repeat="searchId in searchIds">
      <div class="row">
        <div class="col-md-4 text-center"><strong>Score</strong></div>
        <div class="col-md-4 text-center"><strong># PSMs</strong></div>
        <div class="col-md-4 text-center"><strong># Sequences</strong></div>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
   <tr ng-repeat="prot in proteins.getACandScores(searchIds) | orderBy:'-score' track by $index">
    <td>{{prot.ac}}</td>
     <td ng-repeat="protIdent in proteins.getProteinIdents(prot.ac, searchIds) track by $index" style="{{proteins.getBackgroundColor(protIdent)}}">
        <div sib-multi-search-cell></div>
     </td>
   </tr>
  </tbody>
</table>
