<h1>Proteins</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>AC</th>
    <th>Source</th>
    <th>Score</th>
    <th>Number of Sequences</th>
    <th>Number of PSMs</th>
    <th>Threshold</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="protein in proteins">
    <td>{{protein.mainProt.proteinAC}}</td>
    <td>{{protein.mainProt.source}}</td>
    <td>{{protein.mainProt.score.mainScore.toFixed(0)}}</td>
    <td>{{protein.mainProt.nrSequences}}</td>
    <td>{{protein.mainProt.nrPsms}}</td>
    <td>{{protein.mainProt.passThreshold}}</td>
  </tr>
  </tbody>

</table>
