<h1>{{proteinAC}}</h1>
  <br>
<div>
  <div class="row">
    <div class="col-xs-5"><modif-filter filter="modifFilter"></modif-filter></div>
    <div class="col-xs-7"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <matches-psm-pviz></matches-psm-pviz>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" ng-controller="detailedMatchCtrl">
      <matches-one-liner ></matches-one-liner>
    </div>
  </div>
  <matches-basket-details-all ng-controller="MatchesBasketCtrl"></matches-basket-details-all>
</div>
