<h1>Searches</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Select</th>
      <th>SearchId</th>
      <th>Title</th>
      <th>Database</th>
      <th>Username</th>
      <th>Enzyme</th>
      <th>Parent Tolerance</th>
      <th>Fragment Tolerance</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="search in searches" ng-init="addId($index)">
      <td><input type="checkbox" ng-model="selected" ng-change="updateId($index)" ></td>
      <td><a href="#/proteins/{{search.searchId}}">{{search.searchId}}</a></td>
      <td>{{search.title}}</td>
      <td>
        <p ng-repeat="elem in search.database">{{elem.id}}<small>({{elem.version}}, {{elem.entries}} prot.)</small></p>
      </td>
      <td>{{search.username}}</td>
      <td>{{search.enzyme}}</td>
      <td>{{search.parentTolerance}}</td>
      <td>{{search.fragmentTolerance}}</td>
    </tr>
    </tbody>

  </table>

<button class="btn btn-default" type="submit" ng-click="getSearchIds()">Compare</button>
<!--button class="btn btn-default" type="submit" ng-model="selectedAll" ng-click="checkAll()">Check All</button-->

