form.search-results-filter label{
  display: inline-block;
  margin-left: 1em;
}
form.search-results-filter label:first-child{
  margin-left: 0em;
}
form.search-results-filter div.form-control{
  display: inline-block;
}
form.search-results-filter div.ui-select-container{
  display: inline-block;
}
