g.data.psms.psm line {
  stroke: grey;
  stroke-width: 2;
}

g.data.psms.psm line.selected {
  stroke: lightblue;
  stroke-width: 3;
}

g.data.psms.psm:hover line {
  stroke-width: 4;
}

g.data.psms.psm text {
  #font-family: monospace;
  font-size: 80%;
  fill: grey;
}

g.data.psms.psm circle {
  fill: grey;
  stroke: grey;
}

g.data.psms.psm rect.others {
  fill: yellow;
  stroke: yellow;
}

g.data.psms.psm rect.is-non-selected-modif {
  fill: black;
  stroke: black;
}

g.data.psms.psm circle.is-first {
  fill: red;
  stroke: red;
}

g.data.psms.psm circle.is-firstWithConflict {
  fill: orange;
  stroke: orange;
}

g.data.psms.psm:hover circle {
  stroke-width: 4;
}

g.data.ptmCounts.ptmCount circle {
  fill: blue;
  opacity: .5;
}

g.data.psmIsoModifs.psmIsoModif line {
  stroke: green;
}

g.data.psmIsoModifs.psmIsoModif:hover line {
  stroke-width: 4;
}

g.data.psmIsoModifs.psmIsoModif circle, g.data.psmIsoModifs.psmIsoModif path {
  fill: green;
  stroke: green;
}

g.data.psmIsoModifs.psmIsoModif circle.is-target, g.data.psmIsoModifs.psmIsoModif path.is-target {
  fill: red;
  stroke: red;
}

g.data.psmIsoModifs.psmIsoModif:hover circle, g.data.psmIsoModifs.psmIsoModif:hover path {
  stroke-width: 4;
}

g.data.aaInfos.aaInfo line {
  stroke: green;
}

g.data.aaInfos.aaInfo circle {
  fill: red;
}

g.data.aaModif text {
  font-family: monospace;
  font-size: 80%;
}

path.chromato.target_0 {
  stroke: blue;
  stroke-width: 1.5;
}

g.chromato.rtBar line {
  stroke: red;
}
