
<h1>QcSummary</h1>
<label>DateFrom:<input type="text" ng-model="dateFrom"></label>
<label>DateTo:<input type="text" ng-model="dateTo"></label>
<button type="button" ng-Click="findQcSummary(dateFrom,dateTo)">Search</button>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Select</th>
      <th>RawfileInfomation</th>
      <th><a href="#/qcSummary/MS">MS</a></th>
      <th><a href="#/qcSummary/MMS">MS/MS</a></th>
      <th><a href="#/qcSummary/MmsIdentify">MS/MS Identified</a></th>
      <th><a href="#/qcSummary/PeptideSeq">Peptide Sequences Identified</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="summary in summaries" ng-init="addId($index)">
      <td><input type="checkbox" ng-model="summary.Selected" ng-change="updateId($index)" ></td>
      <td><a href="#/qcSummary/{{summary.rawfileInfomation.proteinName}}_{{summary.rawfileInfomation.pQuantity}}_{{summary.rawfileInfomation.machineName}}">
        {{summary.rawfileInfomation.proteinName}}_{{summary.rawfileInfomation.pQuantity}}_{{summary.rawfileInfomation.machineName}}_{{summary.rawfileInfomation.columnType}}_{{summary.rawfileInfomation.Date}}_{{summary.rawfileInfomation.Index}}</a></td>
      <td>{{summary.MS}}</td>
      <td>{{summary.MMS}}</td>
      <td>{{summary.MmsIdentify}}</td>
      <td>{{summary.PeptideSeq}}</td>
    </tr>
    </tbody>

  </table>


<button class="btn btn-default" type="submit" ng-click="checkAll()">Check All</button>

