<div ng-repeat="item in spectra" class="container-fluid">
  <div ng-controller="XicController">
    <xic-popover my-id="{{item.id}}"></xic-popover>
    <div xic-fishtones xicdata="item.ms2Info" style="height:250px"></div>
  </div>
  <br>
  <br>
  <div matches-fishtones-psm-spectrum fishtonespsm="item.firstPsm.fishTones" style="height:250px" />
  <br>
  <hr>
  <div>
    <p style="word-wrap: break-word">{{item.firstPsm.fishTones.richSeq.toString()}}</p>
    <small>
      Main score: <strong>{{item.firstPsm.matchInfo.score.mainScore | number:0}}</strong>
      <div ng-if="!item.firstPsm.matchInfo.modificationProbabilities && item.firstPsm.matchInfo.posScore">
        Localisation score: <strong>{{item.firstPsm.matchInfo.posScore}}</strong>
      </div>
    </small>
    <div ng-repeat="(k,v) in item.firstPsm.matchInfo.modificationProbabilities">
      <small>{{k}} scores: {{v}}</small>
    </div>
  </div>
</div>
<hr>
