<div ng-repeat="item in selectedItems" class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="pull-left btn-group matches-selected-buttons btn-group-xs" role="group" style="height:22px">
          <button ng-click="zoomSpectrum(item.ms2Info.searchId, item.ms2Info.scanNr)" showtype="button" class="btn btn-default btn-small">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </button>
          <button ng-click="item.scalingArea.model.reset()" showtype="button" class="btn btn-default btn-small">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
          <button ng-click="zoomAllOther(item.id, 'scalingContext')" showtype="button" class="btn btn-default btn-small">
            <span class="glyphicon glyphicon-magnet"></span>
          </button>
        </div>
        <div class="btn-group pull-right">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href ng-click="exportSvg(item.id, 'sp', 'svg');">SVG</a></li>
            <li><a href ng-click="exportSvg(item.id, 'sp', 'png');">PNG</a></li>
          </ul>
        </div>
        <div ng-if="item.type === 'psm'">
          <div ng-attr-id="{{'sp_' + item.id}}" matches-fishtones-psm-spectrum fishtonespsm="item.firstPsm.fishTones" style="height:150px" />
          <div style="height:30px;"/>
          <matches-psm-box psm="item.firstPsm" itemid="item.id"></matches-psm-box>
        </div>
        <div ng-if="item.type === 'sp'">
          <div ng-attr-id="{{'sp_' + item.id}}" matches-fishtones-psm-spectrum fishtonespsm="item.fishTones" style="height:150px" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="pull-left btn-group matches-selected-buttons btn-group-xs" role="group" style="height:22px">
          <button ng-click="item.scalingAreaXic.model.reset()" showtype="button" class="btn btn-default btn-small">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
          <button ng-click="zoomAllOther(item.id, 'scalingContextXic')" showtype="button" class="btn btn-default btn-small">
            <span class="glyphicon glyphicon-magnet"></span>
          </button>
        </div>
          <div ng-if="item.type === 'psm'">
            <div class="pull-right btn-group matches-selected-buttons btn-group-xs" role="group" style="height:22px">
              <button class="btn btn-default btn-small" style="border:0 none"><span class="label label-success" ng-if="item.showAddedLabel">result added ..</span></button>
              <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href ng-click="exportSvg(item.id, 'xic', 'svg');">SVG</a></li>
                <li><a href ng-click="exportSvg(item.id, 'xic', 'png');">PNG</a></li>
              </ul>
              <button ng-click="addToResults(item)" showtype="button"
                      class="btn btn-default btn-small">
                <span class="glyphicon glyphicon-shopping-cart"></span>
              </button>
              <button ng-click="removeSelectedPSM(item.ms2Info.searchId, item.ms2Info.scanNr)" showtype="button"
                      class="btn btn-default btn-small">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </div>
          <div ng-if="item.type === 'sp'">
            <div class="pull-right btn-group matches-selected-buttons btn-group-xs" role="group" style="height:22px">
              <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href ng-click="exportSvg(item.id, 'xic', 'svg');">SVG</a></li>
                <li><a href ng-click="exportSvg(item.id, 'xic', 'png');">PNG</a></li>
              </ul>
              <button ng-click="removeSelectedSp(item.ms2Info.searchId, item.ms2Info.scanNr)" showtype="button"
                      class="btn btn-default btn-small">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
          </div>
        </div>
        <div ng-controller="XicController">
          <xic-popover my-id="{{item.id}}"></xic-popover>
          <div ng-attr-id="{{'xic_' + item.id}}" xic-fishtones style="height:150px"></div>
          <div style="height:30px;"/>
          <div ng-if="item.type === 'psm'">
            <xic-table></xic-table>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0; margin-bottom: 3px">
</div>
