<div ng-repeat="item in selectedItems">
  <div class="span12">
  </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="pull-left btn-group matches-selected-buttons btn-group-xs" role="group" style="height:22px">
          <button ng-click="zoomSpectrum(item)" showtype="button" class="btn btn-default btn-small">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </button>
        </div>
        <div matches-fishtones-psm-spectrum fishtonespsm="item.firstPsm.fishTones" style="height:150px" />
      </div>
      <div class="col-sm-6">
        <div class="pull-right btn-group matches-selected-buttons btn-group-xs" role="group" style="height:22px">
          <button ng-click="removeSelectedPSM(item.firstPsm)" showtype="button"
                  class="btn btn-default btn-small">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
        <div xic-fishtones xicdata="item.ms2Info" style="height:150px"></div>
      </div>
    </div>
    <matches-psm-box psm="item.firstPsm"></matches-psm-box>
</div>
