<div ng-repeat="item in selectedItems" class="row" ng-mouseover="showButtons=1" ng-mouseout="showButtons=0">
  <div class="col-lg-10">title</div>
  <div class="col-lg-2">
    <div class="pull-right btn-group matches-selected-buttons btn-group-xs" role="group" style="height:22px">
      <button ng-click="removeSelectedPSM(item)" ng-show="showButtons" showtype="button"
              class="btn btn-default btn-small" style="color:red">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <div ng-if="item.type==='psm'">
    <div class="col-sm-8">
      <div matches-fishtones-psm-spectrum fishtonespsm="item.bean.fishTones"
           sytle="width:100%;height:200px">

      </div>
    </div>

    <div class="col-sm-4">
      <matches-psm-box psm="item.bean"></matches-psm-box>

    </div>
  </div>
  <div ng-if="item.type==='SSM'" ng-repeat="ssm in item.matches" class="col-sm-2">
    <div matches-fishtones-ssm fishtonesssm="ssm" sytle="width:100%;height:200px">

    </div>
  </div>
</div>
